[Unit]
Description=Scrape media

[Service]
WorkingDirectory=/home/alex/GitHub/homelab/src/scrape-media
ExecStart=/bin/bash scrape-media.sh

[Install]
WantedBy=multi-user.target
